--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0+cu117
torchvision==0.15.0+cu117
torchaudio==2.0.0+cu117
pydub
whisperx==3.1.1
pyannote.audio==2.1.1
runpod
cog
speechbrain==0.5.14
cryptography<43.0.0
requests==2.28.2
