--extra-index-url https://download.pytorch.org/whl/cu121
torch>=2
torchaudio>=2
pydub
git+https://github.com/m-bain/whisperx.git@v3.2.0
runpod
cog
speechbrain==0.5.16
cryptography<43.0.0
faster-whisper==1.0.0
